/* custom CSS goes here */


body{
     font-family:'Press Start 2P', cursive;
     color: #30314f;
     background-image: url("../images/pixel_overlay.svg") ;
     background-position: bottom;
}
/* child div to body holds all content*/
.wrapper{
     background-color: #c8c8e083;
     background-blend-mode: multiply;
     height: 100vh;
     width: 100vw;
     /* top | right | bottom | left */
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}
/* Links */
a:link, a:visited{
     color: #2d6f81;
}
a:hover, a:active{
     color: #3da9b2 !important;
}

/* Custom style changes to NAVBAR*/
.navbar{
     background-color: #5982bb !important;
}
.navbar-brand{
     color: #b93a97 !important;
}

/* Div Classes (content)*/

.hero{
     background-color: #b93a9744;
     /* background-blend-mode:soft-light; */
     position:relative;
     flex-wrap: nowrap;
     flex-flow: column;
     align-self: center;
     flex-direction: column;
     background-color: rgba(240, 248, 255, 0.794);
     padding: .5em;
     margin-inline:inherit ;
     display: flex;
     width: calc(60vw);
     box-shadow: .25em .25em .75em .25em  #69696923 ;
}
/* DIVs for Stacking Elements*/
.text-hero{
     /* color: #ffb6c1; */
     color: #b93a97;
     top: 40%; /* adjust to move the div up and down*/
     width: 70%; /* width of positioned div*/
     position: absolute;
     z-index: 999;
     text-align: right;
     font-size:1.5em;
}
.tea-text{
     text-shadow:  0.08em  0.08em #9999cc;
     color: #5982bb;
     text-orientation:sideways-right;
     top: 20%;
     left: 20%; /* moving left and right*/
     width: 40%;
     position: absolute;
     z-index: 777;
     text-align: left;
     font-size: 2.5em;
}
button{
     background-color: #3da9b2;
}



/* @media only screen and(max-width:600px){
      
}  */